.tune-preview {
  margin: 10px;
  border: 1px solid;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;

  &:hover {
    background-color: #f4f5ff;
  }
  // .track-name,
  // .album-name,
  // .track-price,
  // .collection-price {
  //   text-align: center;
  // }

  .tune-preview-details {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
}
