.tune-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  position: relative;
  .details {
    display: flex;
    width: 100%;
    height: 30%;
    border-bottom: 1px solid #8d8989;
    align-items: center;
    justify-content: center;
  }
  .preview-img {
    object-fit: contain;
    height: 64px;
  }
  .details-info {
    >h4 {
      margin: 10px;
    }
    padding: 20px;
  }
  .media-container {
    display: flex;
    width: 100%;
    height: inherit;
    justify-content: center;
    align-items: center;
    .video-container {
      height: 63vh;
    }
  }
  .back-icon {
    font-size: 22px;
    position: absolute;
    left: 10px;
    top: 10px;
    color: black;
  }
}
